{% extends "base.html" %}
{% load utility_tags cache %}

{% block title %}Talks{% endblock %}

{% block content %}
  {% if object_list %}
  <div class="talk-list mdl-grid">
    {% for talk in object_list %}
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--10-col"{% if event_image %} style="min-height:450px;"{% endif %}>
        {% if event_image %} 
        <div class="mdl-card__media" style="background-image: url({{ event_image }});">&nbsp;</div>
        {% endif %}  
        <div class="mdl-card__title">
          <h4>{{ talk.title }}{#<a href="{{ event.event_website }}">{{ event.name }}</a>#}</h4>
        </div>
        <div class="mdl-card__supporting-text">
          <em>{{ talk.event.name }} - {{ talk.date|date:"DATE_FORMAT" }}</em><br />
          {{ talk.abstract|truncate_chars:300 }}
        </div>
        <div class="mdl-card__actions mdl-card--border flex">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ talk.get_absolute_url }}">Read More</a>
          <div class="mdl-layout-spacer"></div>
          {% if talk.slides %}
          <i class="material-icons">slideshow</i>
          {% endif %}
          {% if talk.video %}
          <i class="material-icons">movie</i>
          {% endif %}
        </div>
      </div>
      <div class="mdl-cell mdl-cell--1-col"></div>
    {% endfor %}
  </div>
  {% endif %}

{% include "pagination/pagination.html" %}

{% endblock %}
