include setup.py README.md requirements.txt MANIFEST.in LICENSE AUTHORS
recursive-include homepage/templates *
recursive-include homepage/site_media *
recursive-include homepage/static *
global-exclude *~
