Django==1.1.1
BeautifulSoup==3.1.0.1
docutils>=0.5
pygments>=1.0
dateutils==0.4.1

-e svn+http://feedparser.googlecode.com/svn/trunk/feedparser@303#egg=feedparser
-e hg+https://bitbucket.org/IanLewis/django-lifestream/@c790039b946d#egg=lifestream
-e git+git://github.com/ericflo/django-pagination.git@1c414c8ed010359597b05dad1b41b65aeddfd1d7#egg=pagination
-e svn+http://django-tagging.googlecode.com/svn/trunk@171#egg=django_tagging
-e git+git://github.com/arthurk/django-disqus.git@4f34feec99362e61a52745835298cbe7eb3abd49#egg=disqus
-e hg+http://bitbucket.org/andrewgodwin/south/@0.6.2#egg=south
#-e git+git://github.com/zain/jogging.git#egg=jogging
-e hg+https://IanLewis@bitbucket.org/IanLewis/jogging/#egg=jogging
-e hg+https://IanLewis@bitbucket.org/mariocesar/django-hgwebproxy/#egg=hgwebproxy
