Django==1.4.17
South==0.7.6

# For rendering blog posts
docutils>=0.5
pygments>=1.0
html2text==3.200.3

# For lead thumbnails
sorl-thumbnail==11.12

# For thumbnails (Filebrowser)
Pillow==2.5.1

-e git://github.com/IanLewis/django-filebrowser-no-grappelli.git@c093f252c8#egg=filebrowser
django-pagination==1.0.7

# Not sure where the code is being maintained because the google code repo is old.
django-tagging==0.3.2

django-disqus==0.4.3

# Production
gunicorn==0.14.2
MySQL-python==1.2.3
pylibmc==1.1.1
