<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
      <title>{% block title %}Homepage{% endblock %} - Ian Lewis</title>
      <link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen" />
      {% block javascript %}{% endblock %}
      {% block css %}{% endblock %}
      {% block other_head %}{% endblock %}
    </head>
    <body>
      <div class="main">
        <div class="header">
          <div class="header-inner">
            <div class="title"><a href="{% url main_page %}">Ian Lewis</a></div>
            <div class="about">Ian Lewis is a web developer living in Tokyo Japan. His current interests are in Web Services (XML-RPC/SOAP), <a href="http://www.djangoproject.com/">Django</a>, <a href="http://www.python.org/">python</a>, and rapid web application development.</div>
          </div>
        </div>
        <div class="content">
          {% block content %}{% endblock %}
        </div>
      </div>
    </body>
</html>
