{% extends "base.html" %}
{% block js_footer %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery/jqModal-r14.js"></script>
<script type="text/javascript">
$(function() {
  windows = $('div.jqmWindow');
  if (windows.length) {
    windows.jqm();
    $('a.modal').each(function() {
      $(this).attr('href','javascript:void(0);').click(function() {
        $("#"+$(this).attr('rel')).jqmShow();
      });
    });
    $('a.modal-close').click(function() {
      $("#"+$(this).attr('rel')).jqmHide();
    });
  }

  //Flickr Images
  $("div.lifestream-item-inner.flickr-com img").each(function() {
    var img = $(this);
    var w = img.width();
    var extra = -1 * (w - 214)/2;
    img.css("left", extra+"px");
    // alert($(this).attr("src")+": "+$(this).width());
  });
});
</script>
{% endblock %}

{% block header_right %}
<form class="search-box" action="{% url lifestream_item_search %}">
  <input type="text" name="q" value="{{ keywords }}" />
  <button id="search-button" name="search" type="submit">
    <span>Search</span>
  </button> 
</form>
{% endblock %}

{% block content %}
<div id="lifestream">
  {% block lifestream_content %}{% endblock %}
</div>
{% endblock %}
