{% extends "lifestream/base.html" %}
{% load utility_tags %}
{% load lifestream_tags %}
{% load pagination_tags %}
{% load tagging_tags %} 
{% load disqus_tags %}

{% block title %}Page {{ request.page }}{% endblock %}

{% block rss %}
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{% url lifestream_feeds "recent" %}">
{% endblock %}

{% block lifestream_content %}
  {% autopaginate object_list %}

  {% block top_content %}{% endblock %}

  <div class="lifestream">
    {% if page_obj.object_list %}
      <ul class="lifestream-item-list">
      {% for object in page_obj.object_list %}
        {% render_item object %}
      {% endfor %}
      </ul>
    {% else %}
    <div class="not-found-msg">
      <h1>No Items Found</h1>
      <h2>Sorry!!</h2>
      <p>There weren't any results for your query. You could try one of the following:</p>
      <ul>
        <li>Try searching using the search box in the upper right.</li>
        <li>Navigate to the <a href="/">Homepage</a> and look for what you want.</li>
        <li>Use the navigation bar at the top to find the link you are looking for.</li>
        <li>Click the Back button to try another link.</li>
      </ul>
      <div class="not-found-search">
        <script type="text/javascript">
              var GOOG_FIXURL_LANG = 'en';
              var GOOG_FIXURL_SITE = '';
            </script>
            <script type="text/javascript" 
              src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
      </div>
    </div>
    {% endif %}
    
    {% paginate %}

    {% comment %}
    <div class="pagination">
      <span class="step-links">
        {% if items.has_previous %}
        <a href="{% ifequal items.previous_page_number 1 %}{% url main_page %}{% else %}{% url main_page_paged items.previous_page_number %}{% endifequal %}">Previous</a>
        {% endif %}

        <span class="current">
          Page {{ items.number }} of {{ items.paginator.num_pages }}.
        </span>

        {% if items.has_next %}
          <a href="{% url main_page_paged items.next_page_number %}">Next</a>
        {% endif %}
      </span>
    </div>
    {% endcomment %}
  </div>
{% endblock %}

{% block footer %}
<div class="tag-cloud">
{% tag_cloud_for_model lifestream.item as item_tags with steps=20 min_count=15 distribution=log %}
{% for item_tag in item_tags %}
<a style="font-size: {% if item_tag.font_size %}{{ item_tag.font_size|add:"10" }}{% else %}10{% endif %}px;" href="{% url tag_page item_tag.name %}">{{ item_tag.name }}</a>
{% endfor %}
</div>
{% endblock %}

{% block js_footer %}
{% disqus_num_replies %}
{% endblock %}
