{% extends "lifestream/base.html" %}
{% load truncate_chars %}

{% block title %}{% ifnotequal items.number 1 %}Page {{ items.number }}{% else %}Homepage{% endifnotequal %}{% endblock %}

{% block content %}

  <div class="blog-links">
    <a href="{% url blog_page "en" %}">
    <div class="english-blog blog-link">
      {% if en_post %}
        <div class="blog-link-title">{{ en_post.title }}</div>
        <div class="blog-link-content">{{ en_post.content|safe|truncate_chars:50 }}</div>
      {% endif %}
    </div>
    </a>

    <a href="{% url blog_page "jp" %}">
    <div class="japanese-blog blog-link">
      {% if jp_post %}
        <div class="blog-link-title">{{ jp_post.title }}</div>
        <div class="blog-link-content">{{ jp_post.content|striptags|truncate_chars:50 }}</div>
      {% endif %}
    </div>
    </a>
  </div>
 
  <div class="lifestream">
    {% if items.object_list %}
      <ul class="lifestream-item-list">
      {% for item in items.object_list %}
        <li class="lifestream-item">
          <div class="lifestream-item-inner">
            <h2><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h2>
            <p>
              {% if item.clean_content %}
                {{ item.clean_content|truncate_chars:100 }}
              {% else %}
                &nbsp;
              {% endif %}
            </p>
          </div>
          <div class="lifestream-item-date">{{ item.date }}</div>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
    <br/>
    <div class="pagination">
      <span class="step-links">
        {% if items.has_previous %}
        <a href="{% ifequal items.previous_page_number 1 %}{% url main_page %}{% else %}{% url main_page_paged items.previous_page_number %}{% endifequal %}">Previous</a>
        {% endif %}

        <span class="current">
          Page {{ items.number }} of {{ items.paginator.num_pages }}.
        </span>

        {% if items.has_next %}
          <a href="{% url main_page_paged items.next_page_number %}">Next</a>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock %}
