{% extends "lifestream/item_list.html" %}
{% load truncate_chars %}
{% load lifestream %}
{% load pagination_tags %}
{% load tagging_tags %}
{% load blog_tags %}

{% block title %}{% ifnotequal request.page 1 %}Page {{ request.page }}{% else %}Homepage{% endifnotequal %}{% endblock %}

{% block top_content %}
{% ifequal request.page 1 %}
<div class="blog-links">
  <a href="{% url blog_page "en" %}">
  <div class="english-blog blog-link">
    {% if en_post %}
      <div class="blog-link-title">{{ en_post.title }}</div>
      <div class="blog-link-content">{{ en_post|to_html|striptags|safe|truncate_chars:50 }}</div>
    {% endif %}
  </div>
  </a>

  <a href="{% url blog_page "jp" %}">
  <div class="japanese-blog blog-link">
    {% if jp_post %}
      <div class="blog-link-title">{{ jp_post.title }}</div>
      <div class="blog-link-content">{{ jp_post|to_html|striptags|safe|truncate_chars:50 }}</div>
    {% endif %}
  </div>
  </a>
</div>
{% endifequal %}
{% endblock %}
