body {
    font-family: 'IPAexゴシック', 'IPAexGothic', 'TakaoExゴシック', 'TakaoExGothic', 'VL ゴシック', 'VL Gothic', 'さざなみゴシック', 'Sazanami Gothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'ＭＳ ゴシック', 'MS Gothic', 'Helvetica', sans-serif;
    /* text-rendering: optimizeLegibility; */
}

.main {
    max-width: 1000px;
}

.header {
    color: white;
    background: black;
    padding: 10px;
    overflow: hidden;
}

.header .header-inner {
    position: relative;
    margin: 0 auto;
    max-width: 500px;
}
.header .header-inner .profile-img {

}

.header .title {
    font-size: 150%;
}

.header .title a,.header .title a:hover {
    color: white;
    text-decoration: none;
}

.header .about {
    /* background: #FFFFCC; */
    position: absolute;
    top: 0;
    left: 100px;
    color: #CCCCCC;
    /* width: 450px; */
    margin-left: 20px;
}

.header .search-box {
    float: right;
    position: relative;
}

.header .search-box input {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    
    background: #FFFFFF none repeat scroll 0 0;
    border: 1px solid #AAAAAA;
    color: #333333;
    padding: 2px 5px;
    width: 200px;
    margin-right: 18px;
}

.header .search-box button {
    background: transparent url(../img/icon_searchglass.png) no-repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;

    position: absolute;
    right: 0px;
    top: -1px;
    height: 35px;
    width: 35px;
}

.header .search-box button:hover {
    background-position: 0 -36px;
}

.header .search-box #search-button span {
    position: absolute;
    left: -9999999px;
}
