body {
    /* font-family: 'IPAexゴシック', 'IPAexGothic', 'TakaoExゴシック', 'TakaoExGothic', 'VL ゴシック', 'VL Gothic', 'さざなみゴシック', 'Sazanami Gothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'ＭＳ ゴシック', 'MS Gothic', 'Helvetica', sans-serif; */
    /* text-rendering: optimizeLegibility; */
}

/* =========== Header ============== */

.header {
    color: white;
    background: black;
    padding: 10px;
    overflow: hidden;
}

/* To counteract bootstrap's margin on the <body> tag */
@media (max-width: 767px) {
    .header {
        margin-right: -20px;
        margin-left: -20px;
    }
}

.header .header-inner {
    margin: 0 auto;
    max-width: 800px;
}
.header .header-inner .profile-img {
    display: inline;
}

.header .title {
    font-size: 150%;
}

.header .title a,.header .title a:hover {
    color: white;
    text-decoration: none;
}

.header .about {
    display: inline;
    width: 100px;
    /* background: #FFFFCC; */
    color: #CCCCCC;
    /* width: 450px; */
    margin-left: 20px;
    font-size: 1.3em;
}

.header .search-box {
    float: right;
    position: relative;
}

.header .search-box input {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    
    background: #FFFFFF none repeat scroll 0 0;
    border: 1px solid #AAAAAA;
    color: #333333;
    padding: 2px 5px;
    width: 200px;
    margin-right: 18px;
}

.header .search-box button {
    background: transparent url(../img/icon_searchglass.png) no-repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;

    position: absolute;
    right: 0px;
    top: -1px;
    height: 35px;
    width: 35px;
}

.header .search-box button:hover {
    background-position: 0 -36px;
}

.header .search-box #search-button span {
    position: absolute;
    left: -9999999px;
}

/* =========== Content ============== */

.content {
    max-width: 900px;
    margin: 0 auto;
}

/* =========== Index ============== */

.content #index {
    margin-top: 1em;
}

.content #index .blog-hero .hero-inner {
    display: block;
    padding: 10px 19px;

    text-align: center;
    line-height: 20px;
    font-size: 1.5em;
    font-weight: bold;
    /* height: 200px; */

    border: 1px solid #ddd;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
.content #index .blog-hero .blog-hero-flag {
    /* height: 170px; */
}
.content #index .blog-hero .blog-hero-inner {
    /* 
      160 (blog-hero height)
    - 8 * 2 (blog-hero padding)
    - 10 * 2 (blog-hero-inner padding)
    - 1 * 2 (blog-hero border)
    */
    height: 130px; 
    background-color: #f5f5f5;
}

.content #index .blog-hero:hover {
    border-color: #0088cc;

    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.content #index .blog-hero .blog-link-title {
    font-size: 1.5em;
    font-weight: bold;
}

/* =========== Blog List ============== */

.content .blog-list ol {
    list-style: none;
    margin: 0;
}
.content .blog-list .blog-post {
    padding: 1em;
    margin-top: 2em;

    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.content .blog-list .blog-post h3 a {
    color: #333;
}
.content .blog-list .blog-post h1 a {
    color: #333;
}

#postlist.blog-list {
    margin-top: 3em;
}
