{% load lifestream %}
{% load truncate_chars %}

<li class="lifestream-item {% item_class item %}">
  <div class="lifestream-item-msg {% item_class item %}">From {{ item.feed.domain }}</div>
  {% block item_inner %}
  <div class="lifestream-item-inner {% item_class item %}">
    <h2><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h2>
    <p>
      {% if item.clean_content %}
        {{ item.clean_content|truncate_chars:200 }}
      {% else %}
        &nbsp;
      {% endif %}
    </p>
  </div>
  {% endblock %}
  <div class="lifestream-item-date">{{ item.date|friendly_date }}</div>
</li>
