{% load lifestream %}
{% load utility_tags %}

<li class="lifestream-item {% item_class item %}">
<div class="lifestream-item-msg {% item_class item %}">From <a href="{% url domain_page item.feed.domain %}">{{ item.feed.domain }}</a></div>
  {% block item_inner %}
  <div class="lifestream-item-inner {% item_class item %}">
    <h2><a href="{{ item.permalink }}">{{ item.title|truncate_chars:60 }}</a></h2>
    <p>
      {% if item.clean_content %}
        {{ item.clean_content|striptags|truncate_chars:200|safe }}
      {% else %}
        &nbsp;
      {% endif %}
    </p>
  </div>
  {% endblock %}
  {% block date %}<div class="lifestream-item-date">{{ item.date|friendly_date }}</div>{% endblock %} {% block comments-link %}<div class="lifestream-item-detail-link"><a href="{% url item_page item.id %}#disqus_thread">Send feedback</a></div>{% endblock %}
</li>
