{% load lifestream %}
{% load utility_tags %}

<div class="lifestream-item {% item_class object %}">
<div class="lifestream-item-msg {% item_class object %}">From <a href="{% url domain_page object.feed.domain %}">{{ object.feed.domain }}</a></div>
  {% block item_inner %}
  <div class="lifestream-item-inner {% item_class object %}">
    <h2><a href="{{ object.permalink }}">{{ object.title }}</a></h2>
    <p>
      {% if object.clean_content %}
        {{ object.clean_content|striptags|safe }}
      {% else %}
        &nbsp;
      {% endif %}
    </p>
  </div>
  {% endblock %}
  <div class="lifestream-item-date">{{ object.date|friendly_date }}</div>
</div>
