{% extends "lifestream/sites/basic.html" %}
{% load lifestream_tags %}
{% load utility_tags %}

{% block item_inner %}
<div class="lifestream-item-inner {% item_class object %}">
  <a class="modal" rel="window_{{ object.id }}" href="{{ object.permalink }}"><img class="source-image" src="{{ object.media_url }}" alt=""></a>
  <p>
    {{ object.media_description|striptags|stripentities }}
  </p>
</div>

<div id="window_{{ object.id }}" class="jqmWindow" style="z-index: 3000; display: none;">
  <img class="source-image" src="{{ object.media_url }}" alt="">
  <a href="javascript:void(0);" rel="window_{{ object.id }}" class="modal-close"></a>
</div>
{% endblock %}
