{% extends "lifestream/sites/basic_detail.html" %}
{% load lifestream_tags %}
{% load utility_tags %}

{% block item_inner %}
<div class="lifestream-item-inner {% item_class object %}">
  <cite class="avatar">
    <a href="http://twitter.com/IanMLewis">
      <img alt="" src="{{ MEDIA_URL }}img/avatar.jpg">
    </a>
  </cite>
  <div class="twitter-com-speech-tail"></div>
  <p>
    {% if object.title %}
      {{ object.title|striptags|stripentities|urlizetrunc:50|urlize_twitter }}
    {% else %}
      &nbsp;
    {% endif %}
  </p>
</div>
{% endblock %}
