{% extends "lifestream/sites/basic.html" %}
{% load lifestream %}
{% load truncate_chars %}

{% block item_inner %}
<div class="lifestream-item-inner {% item_class item %}">
  <cite class="avatar">
    <a href="http://twitter.com/IanMLewis">
      <img alt="" src="{{ MEDIA_URL }}img/avatar.jpg"/>
    </a>
  </cite>
  <div class="twitter-com-speech-tail"></div>
  <p>
    {% if item.title %}
      {{ item.title|striptags|urlizetrunc:50|urlize_twitter }}
    {% else %}
      &nbsp;
    {% endif %}
  </p>
</div>
{% endblock %}
