{% extends "lifestream/sites/basic.html" %}
{% load lifestream %}
{% load truncate_chars %}

{% block item_inner %}
<div class="lifestream-item-inner {% item_class item %}">
  <object width="212" height="159">
    <param name="allowfullscreen" value="true" />
    <param name="allowscriptaccess" value="always" />
    <param name="movie" value="{{ item.media_player_url }}" />
    <embed src="{{ item.media_player_url }}" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="212" height="159">
    </embed>
    {% comment %}
    <param name="movie" value="{{ item.media_player_url }}&amp;server=www.vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" />
    <embed src="{{ item.media_player_url }}&amp;server=www.vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="212" height="159">
    </embed>
    {% endcomment %}
  </object>
  <p>
    {{ item.clean_content|truncate_chars:100 }}
  </p>
</div>
{% endblock %}
