{% extends "lifestream/sites/basic_detail.html" %}
{% load lifestream_tags %}
{% load utility_tags %}

{% block item_inner %}
<div class="lifestream-item-inner {% item_class object %}" style="z-index: 1;">
  <object width="500" height="415" style="z-index: 3001;">
    <param name="movie" value="{{ object.media_player_url }}&amp;hl=en&amp;fs=1&amp;showsearch=0&amp;autoplay=1"/>
    <param name="allowFullScreen" value="true"/>
    <embed 
        width="500"
        height="415"
        allowfullscreen="true"
        type="application/x-shockwave-flash"
        src="{{ object.media_player_url }}&amp;hl=en&amp;fs=1&amp;showsearch=0"
    >
    </embed>
  </object>
  <div class="lifestream-item-body">
    {{ object.media_description|striptags|stripentities }}
  </div>
  <p>[ <a class="modal" rel="window_{{ object.id }}" href="{{ object.permalink }}">View Original</a> ]</p>
</div>
{% endblock %}
