{% extends "lifestream/sites/basic.html" %}
{% load lifestream_tags %}
{% load utility_tags %}

{% block item_inner %}
<div class="lifestream-item-inner {% item_class object %}" style="z-index: 1;">
  <object width="214" height="159" style="z-index: 2;">
    <param name="allowfullscreen" value="true" />
    <param name="allowscriptaccess" value="always" />
    <param name="movie" value="{{ object.media_player_url }}" />
    <param name="wmode" value="opaque">
    <embed src="{{ object.media_player_url }}"
      type="application/x-shockwave-flash"
      allowfullscreen="true"
      allowscriptaccess="always"
      width="214"
      height="159"
      wmode="opaque"
    >
    </embed>
    {% comment %}
    <param name="movie" value="{{ item.media_player_url }}&amp;server=www.vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" />
    <embed src="{{ item.media_player_url }}&amp;server=www.vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="212" height="159">
    </embed>
    {% endcomment %}
  </object>
  <p>
    {% if object.media_description %}
    {{ object.media_description|striptags|stripentities|truncate_chars:80 }}
    {% else %}
    {{ object.title|truncate_chars:80|default:"" }}
    {% endif %}
  </p>
  <p>[ <a class="modal" rel="window_{{ object.id }}" href="{{ object.permalink }}">View Large</a> ]</p>
</div>

<div id="window_{{ object.id }}" class="jqmWindow" style="z-index: 3000; display: none;">
  <object width="500" height="415" style="z-index: 3001;">
    <param name="movie" value="{{ object.media_player_url }}&amp;hl=en&amp;fs=1&amp;showsearch=0&amp;autoplay=1"/>
    <param name="allowFullScreen" value="true"/>
    <embed width="500" height="415" allowfullscreen="true" type="application/x-shockwave-flash" src="{{ object.media_player_url }}&amp;hl=en&amp;fs=1&amp;showsearch=0&amp;autoplay=1"/>
  </object>
  <a href="javascript:void(0);" rel="window_{{ object.id }}" class="modal-close"></a>
</div>
{% endblock %}
