{% extends "base.html" %}
{% block html_attrs %}{% if locale %} lang="{% ifequal locale "jp" %}ja{% else %}en{% endifequal %}"{% endif %}{% endblock %}

{% block extra_meta %}
{% if locale %}<meta http-equiv="content-language" content="{% ifequal locale "jp" %}ja{% else %}en{% endifequal %}">{% endif %}
{% endblock %}

{% block rss %}
{% if rss_feed_url %}
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ rss_feed_url }}" />
{% endif %}
{% endblock %}

{# To fix JS errors in old blog posts #}
{% block javascript %}
<script type="text/javascript">var SHARETHIS = {addEntry: function() {}};</script>
{% endblock %}
