#!/bin/sh

export DEBUG=False
export DB_ENGINE=mysql
export DB_HOST="{{ app_mysql_host }}"
export DB_PORT="{{ app_mysql_port }}"
export DB_NAME="{{ mysql_db[0].name }}"
export DB_USER="{{ mysql_users[0].name }}"
export DB_PASSWORD="{{ mysql_users[0].pass }}"
export MEDIA_ROOT=/var/www/media
{% if app_secret_key %}
export SECRET_KEY="{{ app_secret_key }}"
{% endif %}
export USE_PAGE_CACHE=False
export USE_MEMCACHED=False
{% if app_disqus_api_key %}
export DISQUS_API_KEY="{{ app_disqus_api_key }}"
{% endif %}
{% if app_disqus_website_shortname %}
export DISQUS_WEBSITE_SHORTNAME="{{ app_disqus_website_shortname }}"
{% endif %}
