{% if is_paginated %}
{% load i18n %}
<div class="pagination">
  <ul>
    <li{% if not page_obj.has_previous %} class="disabled"{% endif %}>
      <a href="{% if not page_obj.has_previous %}#{% else %}?page={{ page_obj.previous_page_number }}{{ getvars }}{% endif %}">&lsaquo;&lsaquo; {% trans "previous" %}</a>
    </li>
    {% for page in pages %}
        {% if page %}
        <li{% if page = page_obj.number %} class="active"{% endif %}>
          <a href="{% if page = page_obj.number %}#{% else %}?page={{ page }}{{ getvars }}{% endif %}">{{ page }}</a>
        </li>
        {% else %}
        <li class="disabled">
          <a href="#">...</a>
        </li>
        {% endif %}
    {% endfor %}
    <li{% if not page_obj.has_next %} class="disabled"{% endif %}>
      <a href="{% if not page_obj.has_next %}#{% else %}?page={{ page_obj.next_page_number }}{{ getvars }}{% endif %}">{% trans "next" %} &rsaquo;&rsaquo;</a>
    </li>
  </ul>    
</div>
{% endif %}
