{% extends "base.html" %}
{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}lib/jquery/jquery.lightbox-0.5.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/blog.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.lightbox-0.5.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/highlight.css" type="text/css" media="screen" />
{% endblock %}

{% block header_right %}
<form class="search-box" action="{% url lifestream_item_search %}">
  <input type="text" name="q" value="{{ keywords }}" />
  <button id="search-button" name="search" type="submit">
    <span>Search</span>
  </button> 
  <input type="hidden" name="domain" value="ianlewis.org" />
</form>
{% endblock %}

{% block content %}
<div id="blog">
  {% block blog_content %}{% endblock %}
</div>
{% endblock %}
