{% extends "blog/base.html" %}
{% load truncate_chars %}
{% load pagination_tags %}

{% block title %}Ian's Blog{% endblock %}
{% block content %}
  {% autopaginate object_list 10 %}

  {% if object_list %}
    <ul>
    {% for item in object_list %}
      <li class="blog-post">
        <h2><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h2>
        <div class="post-date">{{ item.pub_date }}</div>
        <p>
          {% if item.content %}
            {{ item.content|safe }}
          {% else %}
            &nbsp;
          {% endif %}
        </p>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
<br/>

{% paginate %}

{% endblock %}
