{% extends "blog/base.html" %}
{% load utility_tags %}
{% load pagination_tags %}
{% load tagging_tags %}
{% load blog_tags %}
{% load disqus_tags %}

{% block title %}Ian's Blog{% endblock %}

{% block rss %}
{% if rss_feed_url %}
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ rss_feed_url }}" />
{% endif %}
{% endblock %}

{% block blog_content %}
  {% autopaginate object_list 10 %}

  {% if object_list %}
    <ul>
    {% for item in object_list %}
      {% tags_for_object item as item_tags %}
      <li class="blog-post">
        <h1 class="post-title"><a href="{{ item.get_absolute_url }}">{{ item.title|safe }}</a></h1>
        <div class="post-date">{{ item.pub_date }}</div>
        <div class="post-tags">{% for tag in item_tags %}<a href="{% url blog_tag_page locale tag.name %}">{{ tag.name }}</a> {% endfor %}</div>
        <div class="post-body">
        {% if item.content %}
          {{ item|to_html|safe }}
        {% else %}
          &nbsp;
        {% endif %}
        </div>
        <div class="post-comment-link">
          <a href="{{ item.get_absolute_url }}#disqus_thread">Send feedback</a>
          <a href="http://b.hatena.ne.jp/entry/{{ item.get_full_url }}">
            <img src="http://d.hatena.ne.jp/images/b_entry.gif" width="16" height="12" style="border: none;" alt="このエントリーを含むはてなブックマーク" title="このエントリーを含むはてなブックマーク" />
            <img src="http://b.hatena.ne.jp/entry/image/{{ item.get_full_url }}" alt="はてなブックマーク - {{ item.title }}" title="はてなブックマーク - {{ item.title }}">
          </a>
        </div>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
<br/>

{% paginate %}

{% endblock %}

{% block js_footer %}
{% disqus_num_replies %}
{% endblock %}

{% block footer %}
<div class="tag-cloud">
{% tag_cloud_for_model blog.post as post_tags with steps=20 min_count=4 distribution=log %}
{% for post_tag in post_tags %}
<a style="font-size: {{ post_tag.font_size|add:"10" }}px;" href="{% url blog_tag_page locale post_tag.name %}">{{ post_tag.name }}</a>&nbsp;&nbsp;
{% endfor %}
</div>
{% endblock %}
