{% extends "blog/base.html" %}
{% load i18n tagging_tags blog_tags disqus_tags %}

{% block title %}{{ object.title }}{% endblock %}
{% block blog_content %}
{% tags_for_object object as item_tags %}
<div class="blog-post">
  <h1 class="post-title" itemprop="title"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h1>
  <div class="post-date">{{ object.pub_date }}</div>
  <div class="post-tags">{% for tag in item_tags %}<a href="{% url blog_tag_page locale tag.name %}">{{ tag.name }}</a> {% endfor %}</div>
  <div class="post-body">
  {% if object.content %}
    {{ object|to_html|safe }}
  {% else %}
    &nbsp;
  {% endif %}
  </div>
  <div class="post-comment-link">
    <g:plusone size="medium" annotation="none" href="http://www.ianlewis.org/"></g:plusone>
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-text="{{ object.title }}" data-via="IanMLewis" data-lang="{{ object.lang }}">Tweet</a>

    <a href="http://b.hatena.ne.jp/entry/{{ object.get_full_url }}" class="hatena-bookmark-button" data-hatena-bookmark-title="{{ object.title }}" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>

  </div>
  
  {% disqus_show_comments %}

</div>
{% endblock %}

{% block js_footer %}
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
{% endblock %}
