{% extends "base.html" %}
{% block content %}
<div class="not-found-msg">
  <h1>404 Page Not Found</h1>
  <h2>Whoops!!</h2>
  <p> It looks like you couldn't find what you were looking for. You could try one of the following:</p>
  <ul>
    <li>If you typed the page address in the Address bar, make sure that it is spelled correctly.</li>
    <li>Navigate to the <a href="/">Homepage</a> and look for what you want.</li>
    <li>Use the navigation bar at the top to find the link you are looking for.</li>
    <li>Click the Back button to try another link.</li>
  </ul>
  <div class="not-found-search">
    <script type="text/javascript">
          var GOOG_FIXURL_LANG = 'en';
          var GOOG_FIXURL_SITE = '';
        </script>
        <script type="text/javascript" 
          src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
  </div>
</div>
{% endblock %}
