Redirect /files/gallery_plugin.zip http://downloads.sourceforge.net/evocms-plugins/gallery2_plugin.zip
Redirect /files/lightbox_plugin-1.0.zip http://downloads.sourceforge.net/evocms-plugins/lightbox_plugin-1.3.zip
Redirect /files/lightbox_plugin-1.1.zip http://downloads.sourceforge.net/evocms-plugins/lightbox_plugin-1.3.zip
