{% load compress gargoyle_tags %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
"http://www.w3.org/TR/html4/loose.dtd">
<html{% block html_attrs %}{% endblock %}>
  <head>
    <title>{% block title %}Homepage{% endblock %} - Ian Lewis</title>
    {% block links %}
    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/material-icons-fonts.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/material.indigo-blue.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/highlight.css" type="text/css" media="screen" />
    {% endcompress %}
    {% endblock %}

    {% block meta %}
    <meta name="keywords" content="{% block keywords %}Ian Lewis, イアン・ルイス, Tokyo, 東京, Japan,日本, Django, Python, Google, Google Cloud Platform{% endblock %}"> 
    <meta name="description" content="{% block description %}Ian Lewis is a web developer living in Tokyo Japan. His current interests are in Go, Python, Kubernetes, and security.{% endblock %}">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    {% endblock %}
    {% block rss %}{% endblock %}
    {% block javascript %}{% endblock %}
    {% block css %}{% endblock %}
    {% block other_head %}{% endblock %}
  </head>
  <body>
    <div class="base-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title"><a class="mdl-navigation__link mdl-color-text--grey-800" href="{% url "main_page" %}">Ian Lewis</a></span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link mdl-color-text--grey-800" href="{% url "blog_page" "en" %}">English Blog</a>
            <a class="mdl-navigation__link mdl-color-text--grey-800" href="{% url "blog_page" "jp" %}">日本語ブログ</a>
            {% ifswitch talks %}
            <a class="mdl-navigation__link mdl-color-text--grey-800" href="{% url "talk_list" %}">Talks</a>
            {% endifswitch %}
            <a class="mdl-navigation__link mdl-color-text--grey-800" href="/en/about/">About</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <span class="mdl-layout-title">Ian Lewis</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="{% url "main_page" %}">Home</a>
          <a class="mdl-navigation__link" href="{% url "blog_page" "en" %}">English Blog</a>
          <a class="mdl-navigation__link" href="{% url "blog_page" "jp" %}">日本語ブログ</a>
          <a class="mdl-navigation__link" href="/en/about/">About</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="bg-ribbon"></div>
          <div class="content">
            {% block content %}{% endblock %}</div>
          </div>
        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">&copy; 2012 Ian Lewis</div>
            <ul class="mdl-mini-footer__link-list">

              <li><a href="{% url "main_page" %}">Home</a></li>
              <li><a href="/en/about/">About</a></li>
              <li><a href="https://plus.google.com/103970721692220852299/?rel=author">Google+</a></li>
            </ul>
          </div>
        </footer>
      </main>
    </div>
    <script defer src="{{ STATIC_URL }}js/material.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript">
      STATIC_URL='{{ STATIC_URL }}';
      $('a[href="#"]').click(function(){return false;});
    </script>
    {% block js_footer %}{% endblock %}
    {% block analytics %}
    {% if not debug and not request.user.is_staff %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2149299-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
    {% endblock %}
  </body>
</html>
