{% extends "base.html" %}
{% load utility_tags blog_tags i18n cache %}

{% block rss %}
{% if en_rss_feed_url %}
<link rel="alternate" type="application/rss+xml" title="English RSS Feed" href="{{ en_rss_feed_url }}" />
{% endif %}
{% if jp_rss_feed_url %}
<link rel="alternate" type="application/rss+xml" title="Japanese RSS Feed" href="{{ jp_rss_feed_url }}" />
{% endif %}
{% endblock %}

{% block content %}
<div class="hero">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="hero-card mdl-cell mdl-cell--8-col mdl-card mdl-shadow--2dp">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--3-col"></div>
        <div class="mdl-cell mdl-cell--6-col">
          <div class="center">
            {% with "me.jpg me2.jpg me3.jpg me4.jpg" as img_str %}
              <img src="{{ STATIC_URL }}/img/{{ img_str.split|random }}" style="max-width: 100%; max-height:300px;border-radius:150px;" /> 
            {% endwith %}
          </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col"></div>
        <div class="mdl-cell mdl-cell--12-col hero-bio">
          <p>Hi! I'm <strong class="hero-name">Ian</strong>. I am a Developer Advocate working for Google on the <strong>Google Cloud Platform</strong> Team in <strong>Tokyo, Japan</strong>. I like to play with and hack on distributed systems, containers, in Go, and Python.</p>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col text-center">
          <h2>English Blog</h2>
          <p><a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" href="{% url "blog_page" "en" %}">View all posts</a></p>
        </div>
        {% for post in en_posts|slice:":5" %}
          {% cache 86400 "index_post_v1" post.slug post.update_date %}
          {% with post|to_html|first_image as post_image %}
          <div class="hero-cell mdl-cell mdl-cell--12-col">
            <div class="hero-post">
              <div class="mdl-card mdl-shadow--2dp"{% if post_image %} style="min-height:400px;"{% endif %}>
                {% if post_image %} 
                <div class="mdl-card__media" style="background-image: url({{ post_image }});">&nbsp;</div>
                {% endif %}  
                <div class="mdl-card__title">
                  <h4><a href="{% url "blog_detail" post.locale post.slug %}">{{ post.title }}</a></h4>
                </div>
                <div class="mdl-card__supporting-text">
                  <em>{{ post.pub_date|timestamp:"DATE_FORMAT" }}</em><br />
                  {{ post|to_lead:200|default:"&nbsp;" }}
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url "blog_detail" post.locale post.slug %}">Read More</a>
                </div>
              </div>
            </div>
          </div>
          {% endwith %}
          {% endcache %}
        {% endfor %}
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col text-center">
          <h2>日本語ブログ</h3>
          <p><a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" href="{% url "blog_page" "jp" %}">すべての記事を読む</a></p>
        </div>
        {% for post in jp_posts|slice:":5" %}
          {% cache 86400 "index_post_v1" post.slug post.update_date %}
          {% with post|to_html|first_image as post_image %}
          <div class="mdl-cell mdl-cell--12-col">
            <div class="hero-post">
              <div class="mdl-card mdl-shadow--2dp"{% if post_image %} style="min-height:400px;"{% endif %}>
                {% if post_image %} 
                <div class="mdl-card__media" style="background-image: url({{ post_image }});">&nbsp;</div>
                {% endif %}  
                <div class="mdl-card__title">
                  <h4><a href="{% url "blog_detail" post.locale post.slug %}">{{ post.title }}</a></h4>
                </div>
                <div class="mdl-card__supporting-text">
                  <em>{{ post.pub_date|timestamp:"DATE_FORMAT" }}</em><br />
                  {{ post|to_lead:100|default:"&nbsp;" }}
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url "blog_detail" post.locale post.slug %}">Read More</a>
                </div>
              </div>
            </div>
          </div>
          {% endwith %}
          {% endcache %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
