{% extends "blog/base.html" %}
{% load i18n blog_tags %}

{% block title %}{{ object.title }}{% endblock %}
{% block keywords %}{{ object.tags.all|join:" " }}{% endblock %}
{% block description %}{% with object|to_html|striptags as description %}{{ description|slice:":150" }}{% if description|length > 150 %}...{% endif %}{% endwith %}{% endblock %}

{% block content %}
<div class="mdl-grid">
  <div class="post-detail mdl-color--white mdl-shadow--4dp mdl-cell mdl-cell--12-col">

    <h1 class="title" itemprop="title">{{ post.title }}</h1>
    <div><em>{{ post.pub_date|date:"DATE_FORMAT" }}</em></div>
    <div style="float:right; ">
      <g:plusone size="medium" annotation="none" href="https://{{ request.get_host }}{{ object.get_absolute_url }}"></g:plusone>
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-text="{{ object.title }}" data-via="IanMLewis" data-related="IanMLewis" data-lang="{{ object.lang }}">Tweet</a>

      {# NOTE: Hatena's cert for b.hatena.ne.jp is bad. #}
      {#}<a href="http://b.hatena.ne.jp/entry/{{ object.get_full_url }}" class="hatena-bookmark-button" data-hatena-bookmark-title="{{ object.title }}" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>#}
    </div>
    <p>
      {% for tag in post.tags.all %}
      <a href="{% url "blog_tag_page" post.locale tag.name %}" class="mdl-chip">
        <span class="mdl-chip__text">{{ tag.name }}</a></span>
      </a>
      {% endfor %}
    </p>


    <div class="post-content">
      {{ object|to_html|default:"&nbsp;"|safe }}
    </div>

    <hr/>

    {% if not is_preview %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
    /* <![CDATA[ */
      var disqus_shortname = '{{ disqus_shortname }}';
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    /* ]]> */
    </script>
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="//disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endif %}

    {% if request.user.is_staff %}
    <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored edit-btn" href="{% url "admin:blog_post_change" post.id %}">
      <i class="material-icons">edit</i>
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block license %}
<p>
  <a rel="license" href="http://creativecommons.org/licenses/by/2.1/jp/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="{{ STATIC_URL }}img/cc80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{{ object.title }}</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Ian Lewis</span><br /> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/2.1/jp/deed.{% if object.lang == "ja" %}ja{% else %}en_US{% endif %}">Creative Commons Attribution 2.1 Japan License</a>.<br />
Code snippets are licensed under the <a rel="license" href="https://www.apache.org/licenses/LICENSE-2.0">Apache Licence, Version 2</a>.
</p>
{% endblock %}

{% block js_footer %}
{{ block.super }}
<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
<script type="text/javascript">
twttr.events.bind('tweet', function(event) {
  if (event) {
    _gaq.push(['_trackSocial', 'twitter', 'tweet', undefined]);
  }
});
</script>
{# NOTE: Hatena's cert for b.hatena.ne.jp is bad. #}
{#<script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>#}
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
{% endblock %}
